GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
CLIENT_URL=http://localhost:5173
SESSION_SECRET=
DATABASE_URL=
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
NODE_ENV='development'  # or 'production'
GOOGLE_CALLBACK_URL=http://localhost:5002/auth/google/callback